<ion-header class="ion-padding ion-no-border">
  <ion-button 
    expand="block" 
    (click)="conunterUp()" 
    [disabled]="numero == MAXIMO">
    <ion-icon name="arrow-up-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- interpolacion -->
  <div class="center-content big-font">
    {{ numero }}
  </div>
</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-button 
    expand="block" 
    (click)="conunterDown()" 
    [disabled]="numero == MINIMO">
    <ion-icon name="arrow-down-outline"></ion-icon>
  </ion-button>
</ion-footer>
